.estudiante {
    margin: 0 1px;
    transition: .5s;
    font-weight: 400;
}
.negrilla {
    font-weight: bold;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #000000;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #DD0000;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #FFCE00;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #000000;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #DD0000;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
    margin-left: 7px;
}